* {
  margin: 0;
  padding: 0;
}
h5.otp-head {
  color: #000;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.otp-sub {
  display: flex;
}
p.otp-p {
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
a.change-btn {
  margin-left: 400px;
  text-decoration: none;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5px;
  height: 25px;
  border: 1px solid;

  width: 85px;
  padding-left: 12px;
}
form.otpbox-4 {
  display: block;
  margin-top: 80px;
  text-align: center;
}
input.otp-bt {
  width: 50px;
  height: 50px;
  margin: 0px 20px 0px 20px;
  text-align: center;
}

.input-field {
  display: inline-block;
}
p.time-otp {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
}
p.code-p {
  color: #000;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 20px;
}
a.resend-otp {
  color: #25580d;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  text-decoration: none;
  margin-top: 20px;
}
button.confirm-btn {
  border-radius: 8px;
  background: #25580d;
  flex-shrink: 0;
  border-radius: 8px;
  background: #25580d;
  width: 200px;
  height: 60px;
  flex-shrink: 0;

  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.confirm-main {
  text-align: end;
  padding-right: 150px;
  padding-top: 40px;
}

.div-resend-otp {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  form.otpbox-4 {
    margin-left: 10px;
  }

  .confirm-main {
    padding-right: 0px;
  }

  a.change-btn {
    margin-left: 0px;
  }

  p.otp-p {
    font-size: small;
  }

  input.otp-bt {
    width: 30px;
    height: 30px;
  }

  form.otpbox-4 {
    margin-left: 0px;
  }
}

@media screen and (max-width: 400px) {
  form.otpbox-4 {
    margin-left: 10px;
  }

  .confirm-main {
    padding-right: 0px;
  }

  a.change-btn {
    margin-left: 0px;
  }

  p.otp-p {
    font-size: small;
  }

  input.otp-bt {
    width: 30px;
    height: 30px;
  }

  form.otpbox-4 {
    margin-left: 0px;
  }
}
